### for_list_format

In [8]:
num = [1,2,3,4,5]
print(num)

[1, 2, 3, 4, 5]

In [9]:
type(num)

list

In [12]:
for i in num:
    print(i,'번',  end = '/')

1 번/2 번/3 번/4 번/5 번/

In [43]:
for i in num :
    print('%d번'%i,  end = ' ')

1번 2번 3번 4번 5번

In [45]:
i=10
if i==0 :
    print(i , '는0이다')
else :
    print(i , '는0이아니다')

10 는0이아니다

In [46]:
i=1
if i%2==0 :
    print(i , ':짝수')
else :
    print(i , ':홀수')

1 :홀수

In [ ]:
i = int(input('숫자입력>>>'))
if i%2==0 :
    print(i , ':짝수')
else :
    print(i , ':홀수')

In [14]:
sub =['국', '영', '수', '정보']
for i in range(len(sub)) :
    print(sub[i], end=' ')

국 영 수 정보

In [17]:
sub =['국', '영', '수', '정보']
for i, s in enumerate(sub) :
    print(sub[i], end=' ')

국 영 수 정보

In [24]:
sub =['국', '영', '수', '정보']
for i, s in enumerate(sub) :
    if sub[i] == '정보' :
        print(i+1,'교시',sub[i], '합격')
    else :
        print(i+1,'교시',sub[i], '해당없음')

1 교시 국 해당없음
2 교시 영 해당없음
3 교시 수 해당없음
4 교시 정보 합격

In [34]:
for i in range(1,11) :
    if i%2==0 :
        print('파이썬')
    else :
        print('야~ 나도 파이썬 할 수 있어')

야~ 나도 파이썬 할 수 있어
파이썬
야~ 나도 파이썬 할 수 있어
파이썬
야~ 나도 파이썬 할 수 있어
파이썬
야~ 나도 파이썬 할 수 있어
파이썬
야~ 나도 파이썬 할 수 있어
파이썬

### List

In [9]:
juso = '    인천광역시 중구 참외전로 116 창의관   '

In [10]:
type(juso)

str

In [11]:
len(juso)

28

In [12]:
add=juso.strip()

In [11]:
add

'인천광역시 중구 참외전로 116 창의관'

In [13]:
ad=add.split()

In [13]:
add.startswith('서울')

False

In [16]:
add.endswith('관')

True

### format

In [3]:
s = 'A is {}, {}'
pr = s.format('사과', '배')
print(pr)

A is 사과, 배

In [14]:
info_1 = '학교: {} 학번: {} 이름:{}'
p = info_1.format('인천정보산업고', 30121, '최연우')
print(p)

학교: 인천정보산업고 학번: 30121 이름:최연우

### [문제1] 30부터 50까지 중에서 홀수만 출력

In [8]:
for i in range(30,51):
    if i%2==0 :
            i
    else :
           print(i , ':홀수')

31 :홀수
33 :홀수
35 :홀수
37 :홀수
39 :홀수
41 :홀수
43 :홀수
45 :홀수
47 :홀수
49 :홀수

### [문제2] 아이디(문자)를 입력받아 동일하면

- 안녕하세요 회원님
- 아니면 회원가입하세요.

In [14]:
n = input("아이디 입력>>>")
s = "cyw020406"
if(n == "cyw020406") :
    print("안녕하세요 회원님")
else :
    print("아니면 회원가입하세요")

아이디 입력>>>cyw020406
안녕하세요 회원님

### [문제3] 입력예 ) 인천정보산업고/30121/최연우

- 학교 : 인천정보산업고
- 학번 : 30121
- 이름 : 최연우

In [3]:
stu=list(map(str, input('내용입력>>').split('/')))

내용입력>>인천/30121/최연우

In [4]:
stu

['인천', '30121', '최연우']

### [문제4] 숫자데이터 5개를 입력받아

- 합계
- 평균

In [2]:
num =list(map(int, input('내용입력>>').split()))
print("합계", sum(num))
print("평균",sum(num)/len(num))

내용입력>>1 2 3 4 5
합계 15
평균 3.0